<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-flex justify-content-center">

            <div class="col-md-6">
                <h1 class="txt-center mb-3">Usuario</h1>
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input class="form-control" type="text" name="usuario" id="usuario"
                        placeholder="Deixe seu usuario aqui">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" placeholder="a sua senha aqui">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-sucess">Embarcar</button>
                </div>

                <hr class="mt-5 mb-5">
                <p class="text-center"></p>
                Não tem uma conta? <a href="">Cadastra-se</a>
            </div>
        </div>
        <div class="col-md-6" id="img-bg">

        </div>


    </div>
</div>