#img-bg{
    background-image: url("https://occ-0-92-1722.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfmMXAlCl7V53c0XLIF74E0AbbXUdAvzQJNS-64YxMrJM_QoZODYMyeVqZEmGyNAg4dYuyxBQZ6-UCdUgVALDJ3Wh0_k.jpg?r=9c5");
    min-height:695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}